body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  line-height: 1.5;
}
header {
  padding: 1rem;
  margin: auto;
  max-width: 540px;
  margin: auto;
  padding-bottom: 2rem;
}
footer {
  padding: 1rem;
  margin: auto;
  max-width: 540px;
  font-size: 0.75rem;
}
button {
  margin: 0;
  padding: 0;
  max-height: 135px;
  max-width: 135px;
  background-color: #f5f5f5;
  border-style: solid;
  border-color: #dcdcdc;
}
img {
  margin: 0;
  padding: 0;
  display: none;
  max-width: 100%;
}
#img1 {
  display: block;
}
#grid {
  max-height: 540px;
  max-width: 540px; /* keep */
  margin: auto; /* keep */
  display: grid; /* keep */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
